@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
}

:root {
    --branco: #FFFFFF;
    --amarelo: #FFD741;
    --preto: #000000;
}

/*
======================
       BANNER 
======================
*/

.banner {
    background-image: url(../imgs/institucional/BannerIndex1920_1080.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
    display: flex;
    align-items: center;
}

.container {
    margin-top: 7vw;
    margin-left: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 70%;
    gap: 10px;
}

.container .titulo {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 3%;
    width: 100%;
}

.titulo .titulo_imagem {
    width: 7vw;
}

.titulo .titulo_imagem img {
    width: 100%;
    height: 100%;
}


.container .titulo h1 {
    color: var(--branco);
    font-size: 4vw;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.container .subtitulo {
    display: flex;
    justify-content: flex-start;
}

.container .subtitulo p {
    padding-left: 20px;
    width: 100%;
    margin: 0;
    height: 100%;
    font-size: 4vh;
    color: white;
}

@media screen and (max-width: 768px) {

    /*
    ======================
        BANNER RESPONSIVO
    ======================
    */

    .banner {
        background-position: right;
        align-items: end;
        padding-bottom: 50px;
        height: 70vw;
    }

    .container {
        margin-left: 0;
        width: 100%;
        align-items: center;
    }

    .container .titulo {
        flex-direction: column;
        padding-left: 0;
        width: 90%;
    }

    .titulo .titulo_imagem {
        display: none;
    }

    .container .titulo h1 {
        font-size: 5vw;
        text-align: center;
    }

    .container .subtitulo {
        justify-content: center;
    }

    .container .subtitulo p {
        padding-left: 0;
        width: 90%;
        font-size: 2vh;
        text-align: center;
    }
}

.secaoValores {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    gap: 5%;
    overflow: hidden;
}

.secaoEsquerda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.secaoEsquerda div {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.secaoEsquerda div img {
    width: 10vw;
    height: 30vw;
}

.secaoEsquerda p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    font-size: 5vh;
    font-weight: bolder;
}

.secaoDireita {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 13%;
    flex-direction: column;
}

.secaoDireita .topico {
    display: flex;
    align-items: center;
    gap: 10px;
}

.TopicoTexto {
    display: flex;
    flex-direction: column;
}

.TopicoTexto h1 {
    font-size: 5vh;
}

.TopicoTexto p {
    font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
    /*
    ======================
        BANNER RESPONSIVO
    ======================
    */

    .secaoValores {
        padding-top: 20px;
        flex-direction: column;
        gap: 0;
        height: 60vw;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 20px;
    }

    .secaoEsquerda {
        justify-content: none;
        width: 90%;
    }

    .secaoEsquerda div {
        display: none;
        width: 100%;
    }

    .secaoEsquerda div img {
        display: none;
        width: 0%;
    }

    .secaoEsquerda p{
        width: 100%;
        font-size: 4vw;
    }

    .secaoDireita {
        width: 90%;
        height: 60%;
        gap: 10%;
    }

    .topico img{
        width: 10%;
    }

    .TopicoTexto h1 {
        font-size: 4vw;
    }

    .TopicoTexto p {
        font-size: 3vw;
    }
}

/*
================================================
================================================
================================================
*/


.secaoSolucao {
    background-color: var(--branco);
    display: flex;
    width: 100%;
    height: 50vh;
    padding: 50px 0 50px 0;
    gap: 5%;
}

.esquerda_secaoSolucao {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* padding-right: 10%; */
    width: 25%;
    height: 90%;
}

.esquerda_secaoSolucao h1 {
    display: block;
    width: 50%;
    padding-bottom: 10px;
    padding-left: 10%;
    font-size: 6vh;
    border-bottom: 10px #FFD741 solid;
}

.esquerda_secaoSolucao p {
    padding-left: 6%;
    font-size: 3vh;
    font-weight: bolder;
    width: 100%;
}

.direita_secaoSolucao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.Card_solucao {
    border: 4px solid #FFD741;
    width: 20%;
    height: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img_card {
    width: 6vw;
}

.img_card img {
    width: 100%;
    height: 100%;
}

.Card_solucao h1 {
    height: 20%;
    font-size: 2.5vw;
    margin: 0;
}

.Card_solucao p {
    font-size: 1.5vw;
    margin: 0;
    height: 30%;
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .secaoSolucao {
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
        height: 50vw;
        border: 1px solid rgb(255, 0, 0);
        padding-bottom: 20px;
        gap: 5vw;
    }

    .esquerda_secaoSolucao {
        width: 100%;
        height: 40%;
        flex-direction: row;
        align-items: center;
        padding-right: 0;
    }

    .esquerda_secaoSolucao h1 {
        font-size: 5vw;
        padding-left: 5%;
        border-bottom: 5px #FFD741 solid;
    }

    .esquerda_secaoSolucao p {
        font-size: 3vw;
        display: flex;
        overflow-wrap: break-word;
    }

    .direita_secaoSolucao {
        width: 90%;
        height: 60%;
        justify-content: space-between;
    }

    .Card_solucao {
        width: 25%;
        height: 80%;
        padding: 5px;
    }

    .img_card {
        width: 8vw;
    }

    .Card_solucao h1 {
        font-size: 4vw;
    }

    .Card_solucao p {
        font-size: 2.5vw;
    }

}

/*
================================================
================================================
================================================
*/

.Secao_componentes {
    padding: 30px 0 30px 0;
    display: flex;
    height: 30vh;
    justify-content: space-around;
}

.componentes_esquerda {
    width: 40%;
    display: flex;
    align-items: center;
}

.componentes_esquerda h1 {
    color: #FFD741;
    font-size: 6vh;
    overflow-wrap: break-word;
}

.componentes_direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.componentes_direita img {
    height: 10vw;
}

@media screen and (max-width: 768px) {
    .Secao_componentes {
        flex-direction: column;
        height: 22vh;
        justify-content: space-between;
        align-items: center;
    }

    .componentes_esquerda {
        width: 90%;
    }

    .componentes_esquerda h1 {
        text-align: center;
        width: 100%;
        font-size: 3vh;
    }

    .componentes_direita {
        justify-content: space-evenly;
        width: 90%;
        height: 40%;
    }

    .componentes_direita img {
        height: 100%;
    }
}


.secaoInformacoes {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vw;
    padding-top: 50px;
}

.esquerdaInformacoes {
    width: 40%;
    height: 90%;
}

.esquerdaInformacoes img {
    width: 100%;
    height: 100%;
}

.direitaInformacoes {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cimaDireitaInformacoes {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.cimaDireitaInformacoes h1 {
    font-size: 2.7vw;
    width: 80%;
    overflow-wrap: break-word;
}

.cimaDireitaInformacoes p {
    overflow-wrap: break-word;
    font-size: 1.7vw;
    width: 80%;
}

.cimaDireitaInformacoes ul{
    font-size: 1.7vw;
    width: 70%;
}


.inferiorDireitaInformacoes {
    display: flex;
    height: 30%;
    justify-content: end;
}

.inferiorDireitaInformacoes  img {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .secaoInformacoes {
        height: 50vw;
        justify-content: none;
        flex-direction: row-reverse;
        padding-top: 0;
        align-items: center;
        overflow: hidden;
        padding: 20px 0 20px 0;
    }

    .esquerdaInformacoes {
        display: flex;
        position: absolute;
        opacity: 20%;
        width: 70%;
        height: 50vw;
    }

    .direitaInformacoes {
        width: 100%;
        height: 100%;
        
    }

    .cimaDireitaInformacoes {
        justify-content: space-around;
        padding-right: 15%;
        height: 100%;
    }

    .cimaDireitaInformacoes h1 {
        width: 80%;
    }

    .cimaDireitaInformacoes p {
        font-size: 3.3vw;
        width: 70%;
    }

    .cimaDireitaInformacoes ul{
        font-size: 3vw;
    }

    .inferiorDireitaInformacoes {
        display: none;
    }
    
}

/*
================================================
================================================
================================================
*/

.secaoImpactoNegocios {
    padding-top: 70px;
    background-color: white;
    display: flex;
    height: 40vw;
    justify-content: space-between;
}

.esquerda_secaoImpactoNegocios {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.texto_esquerda_secaoImpactoNegocios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

.texto_esquerda_secaoImpactoNegocios h1 {
    font-size: 2.7vw;
}

.texto_esquerda_secaoImpactoNegocios p:nth-of-type(1) {
    font-size: 1.7vw;
}

.texto_esquerda_secaoImpactoNegocios p:nth-of-type(2) {
    font-size: 1.7vw;
    /* margin-top: 15%; */
}

.button_esquerda_secaoImpactoNegocios {
    height: 30%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.button_esquerda_secaoImpactoNegocios button {
    background-color: #FFD741;
    width: 50%;
    height: 7vw;
    border-radius: 10px;
    padding: 20px;
    font-weight: bolder;
    font-size: 1.7vw;
    text-align: center;
    padding: 0;
    transition: 0.5s;
}

.direita_secaoImpactoNegocios {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.CaixaMetricas {
    align-self: flex-start;
    height: 60%;
    width: 80%;
    background-color: #cececc89;
    z-index: 999;
    padding: 2%;
    justify-content: space-between;
    display: flex;
    border: 1px solid black;

}

.box_CaixaMetricas {
    border-radius: 10px;
    width: 27%;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.box_CaixaMetricas h1 {
    text-align: center;
    width: 100%;
    font-size: 1vw;
}

.box_CaixaMetricas h1 p{
    font-weight: lighter;
    font-size: 0.7vw;
}

.box_CaixaImg {
    width: 12vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CirculoOEE {
    justify-content: center;
}


.box_CaixaImg img{
    width: 70%;
    height: 70%;
}

.CirculoOEE img {
    position: absolute;
    width: 10%;
    height: 20%;
}

.box_CaixaImg p{
    font-size: 1.2vw;
    font-weight: bolder;
}

.box_CaixaMetricas .descricao {
    width: 90%;
    height: 20%;
    font-size: 0.9vw;
    text-align: center;
}

.ImagemDesign {
    height: 50%;
    width: 80%;
    align-self: self-end;
}

.ImagemDesign img {
    width: 100%;
    height: 100%;
}

.botaocelular {
    display: none;
}

.button_esquerda_secaoImpactoNegocios button:hover {
    background-color: black;
    color: #FFD741;
    border-color: #FFD741;
}

@media screen and (max-width: 768px) {
    .secaoImpactoNegocios {
        padding-top: 30px;
        height: 75vw;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }   

    .esquerda_secaoImpactoNegocios {
        width: 90%;
        padding-left: 0;
        height: 20vw;
    }

    .texto_esquerda_secaoImpactoNegocios {
        text-align: center;
        height: 100%;
        justify-content: end;
    }

    .texto_esquerda_secaoImpactoNegocios h1 {
        display: flex;
        height: 40%;
        justify-content: center;
        font-size: 3.5vw;
    }

    .texto_esquerda_secaoImpactoNegocios p:nth-of-type(1) {
        font-size: 2.5vw;

    }

    .texto_esquerda_secaoImpactoNegocios p:nth-of-type(2) {
        font-size: 2.5vw;
    }

    .button_esquerda_secaoImpactoNegocios {
        display: none;
    }

    .direita_secaoImpactoNegocios {
        width: 80%;
        height: 60vw;
    }

    .CaixaMetricas {
        border: 1px solid black;
        width: 100%;
        margin-right: 0;
        height: 80%;
        gap: 3%;
        justify-content: space-around;
    }

    .box_CaixaMetricas h1 {
        font-size: 2vw;

    }

    .box_CaixaMetricas h1 p{
        font-size: 1.2vw;
    }

    .box_CaixaImg {
        width: 12vw;

    }

    .CirculoOEE {
        width: 20vw;
        height: 20vw;
    }


    .box_CaixaImg img{
        width: 100%;
    }

    .CirculoOEE img {
        width: 17vw;

    }

    .box_CaixaImg p{
        font-size: 2.5vw;

    }

    .box_CaixaMetricas .descricao {
        font-size: 1.5vw;

    }



    .ImagemDesign {
        display: none;
    }

    .botaocelular {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 300px;
        /* font-size: 4vw; */
    }

    .botaocelular button {
        width: 50%;
    }

    /*
    AJUSTAR TAMANHO DO BOTÃO, AJUSTAR LAYOUT DOS ELEMTNOS SEÇÃO DADOS
    */

}