@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
}

:root {
    --branco: #FFFFFF;
    --amarelo: #FFD741;
    --preto: #000000;
}

/*
======================
       BANNER 
======================
*/

.banner {
    background-image: url(../imgs/BannerIndex1920_1080.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    margin-left: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 70%;
    gap: 10px;
}

.container .titulo {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-left: 3%;
    width: 100%;
}

.titulo .titulo_imagem {
    width: 10%;
}

.titulo .titulo_imagem img {
    width: 100%;
    height: 100%;
}


.container .titulo h1 {
    color: var(--branco);
    font-size: 8vh;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.container .subtitulo {
    display: flex;
    justify-content: flex-start;
}

.container .subtitulo p {
    padding-left: 20px;
    width: 100%;
    margin: 0;
    height: 100%;
    font-size: 4vh;
    color: white;
}

@media screen and (max-width: 768px) {

    /*
    ======================
        BANNER RESPONSIVO
    ======================
    */

    .banner {
        background-position: right;
        height: 60vh;
        /* border: 1px solid white; */
        align-items: end;
        padding-bottom: 50px;
    }

    .container {
    margin-left: 0;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
    }

    .container .titulo {
        flex-direction: column;
        padding-left: 0;
        width: 90%;
    }

    .titulo .titulo_imagem {
        width: 15%;
    }

    .container .titulo h1 {
        font-size: 3vh;
        text-align: center;
    }

    .container .subtitulo {
        justify-content: center;
    }

    .container .subtitulo p {
        padding-left: 0;
        width: 90%;
        font-size: 2vh;
        text-align: center;
    }
}

.secaoValores {
    color: white;
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    gap: 5%;
    overflow: hidden;
}

.secaoEsquerda {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.secaoEsquerda div {
    width: 30%;
}

.secaoEsquerda div img {
    width: 70%;
}

.secaoEsquerda p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    font-size: 5vh;
    font-weight: bolder;
}

.secaoDireita {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 13%;
    flex-direction: column;
}

.secaoDireita .topico {
    display: flex;
    align-items: center;
    gap: 10px;
}

.TopicoTexto {
    display: flex;
    flex-direction: column;
}

.TopicoTexto h1 {
    margin: 0;
    font-size: 5vh;
}

.TopicoTexto p {
    margin: 0;
    font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
    /*
    ======================
        BANNER RESPONSIVO
    ======================
    */

    .secaoValores {
        /* border: 1px solid white; */
        padding-top: 30px;
        flex-direction: column;
        overflow: visible;
        gap: 0;
        height: 370px;
        align-items: center;
        /* justify-content: 0; */

    }

    .secaoEsquerda {
        justify-content: none;
        width: 90%;

    }

    .secaoEsquerda div {
        display: none;
        width: 100%;

    }

    .secaoEsquerda div img {
        display: none;
        width: 0%;

    }

    .secaoEsquerda p{
        width: 100%;
        font-size: 2.7vh;
        margin: 0;
    }

    .secaoDireita {
        width: 100%;
    }

    .TopicoTexto h1 {
            font-size: 3vh;

    }
}


.secaoSolucao {
    background-color: var(--branco);
    display: flex;
    border: 1px solid black;
    width: 100%;
    gap: 5%;
}

.esquerda_secaoSolucao {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.esquerda_secaoSolucao h1 {
    padding-bottom: 10px;
    padding-left: 2%;
    font-size: 6vh;
    border-bottom: 10px #FFD741 solid;
}

.esquerda_secaoSolucao p {
    padding-left: 6%;
    font-size: 3vh;
    font-weight: bolder;
}

.direita_secaoSolucao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.Card_solucao {
    border: 4px solid #FFD741;
}

.img_card {
    border: 1px solid black;
}

.img_card img {
    border: 1px solid black;
}

.Card_solucao h1 {
    border: 1px solid black;
}

.Card_solucao p {
    border: 1px solid black;
    /* overflow-wrap: break-word; */
}