* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime; */
}

.container_responsivo {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.navegacao {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 2px solid #e8e8e8;
  background-image: url(../imgs/side\ bar\ -\ monitore.png);

  background-size: cover; /* Enquadra cobrindo todo o espaço sem distorcer */
  background-position: start start; /* Centraliza a imagem no elemento */
  background-repeat: no-repeat;

  position: sticky;
  top: 0;
}

.conteudo_layout {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
  padding: 1.5rem 1.5rem 1.5rem;
}


.superior_tela {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #1f1f1f;

  position: relative;
}

.botao_voltar {
  border: 2px solid gold;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: start;
  background-color: #1E1E1E;
  user-select: none;
  cursor: pointer;
}

.titulo_superior {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  margin-left: 40px;
}

.titulo_superior h2 {
  color: #8f8e8e;
}

.botao_notificacao {
  display: flex;
  border: 2px solid gold;
  flex-direction: row;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #1E1E1E;
  user-select: none;
  cursor: pointer;

  position: absolute;
  right: 20px;
}

.conteudo {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5%;
}

.card_conteudo {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 96%;
  border-radius: 20px;
  gap: 25px;
  padding: 20px;
}

.container_formularios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 60%;
  gap: 30px;
  margin-top: -100px;
}

.formulario {
  background-color: #2b2b2b;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.formulario p {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario input {
  background-color: #424242;
  border-color: #8f8e8e;
  border: #8f8e8e solid 2px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.formulario ::placeholder {
  border-color: #8f8e8e;
}

.container_status {
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 96%;
}

.titulo_formulario {
  color: gold;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 96%;
}

/**/

.status {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 96%;
  height: 20%;

  color: white;
  font-family: Arial, sans-serif;
}

.status h3 {
  color: #ECBE10;
  font-size: 20px;
  margin-bottom: 5px;
}

.status p {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.status-controle {
  display: flex;
  align-items: center;
  gap: 14px;
}

.troca {
  position: relative;
  width: 80px;
  height: 42px;
  display: inline-block;
}

.troca input {
  opacity: 0;
  width: 0;
  height: 0;
}

.deslizar {
  position: absolute;
  inset: 0;
  background-color: #555;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.deslizar::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  left: 2px;
  top: 2px;
  background-color: #fff3b0;
  border-radius: 50%;
  transition: 0.2s;
}

.troca input:checked + .deslizar {
  background-color: #C9AA3A;
}

.troca input:checked + .deslizar::before {
  transform: translateX(38px);
}


.texto-status {
  font-size: 18px;
  font-weight: bold;
}

.botao_notificacao{
  font-size: 34px;
  color: #ECBE10;
}

.botao_voltar{
  font-size: 34px;
  color: #ECBE10;
}

/**/

.botoes {

    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 96%;
    height: 80px;
}


/* BOTÃO CANCELAR */

.btn-cancelar {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    width: 130px;
    height: 46px;

    background-color: transparent;

    border: 1px solid #ECBE10;
    border-radius: 6px;

    color: #ECBE10;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}


/* BOTÃO SALVAR */

.btn-salvar {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    width: 190px;
    height: 46px;

    background-color: #ECBE10;

    border: 1px solid #ECBE10;
    border-radius: 6px;

    color: #1E1E1E;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}

.senha_container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.senha_container input {
  width: 100%;
  padding-right: 50px;
}

.botao_senha {
  position: absolute;
  right: 10px;

  border: none;
  background: transparent;

  cursor: pointer;
  font-size: 20px;

  user-select: none;
}